/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$bg-color-1: #0C0F66;
$bg-color-2: #79CC31;
$button-bg-color: #CC1E14;
$button-border: #ff0000;
$font-color-1: #fff;
$font-color-2: yellow;
$font-family: Helvetica, sans-serif;
$button-size:100px;

html, body {
	margin:0;
	padding:0;
	height: 100%;
}
h1 {
	padding: 20px;
	font-family: 'Gravitas One', cursive;
	font-size: 28px;
	text-align: left;
	color: yellow;
}
.container {
	width: 100%;
	min-height: 100%;
}

.col-1-1 > div {
	display:inline-block;
}
#response {
	font-size: 36px;
	height: 40px;
	color: $font-color-2;
}


#header {
	background: #fff;
	margin:0;
	padding: 0;
}
.result-bar {
	position: relative;
}

#result-container {
	position: absolute;
	padding:10px;
	margin-bottom: 40px;
	left: 400px;
	top: 0px;
	z-index:9;
	#result {
		margin: 0 auto;
		display:none;
	}
	#try-again {
		display:none;
		color: yellow;
		right: 48%;
	}
}

#try-again {
	height:40px;
	position:absolute;
}
.input-container {
	height: 410px;
	max-width: 960px;
	margin: 20px 20% 0 20%;

}

.controls-container {
	width:35%;
	margin-top: 20px;
	display: inline-block;
}






@mixin animation($params) { 
    -webkit-animation:$params;
    -moz-animation:$params;
    -ms-animation:$params;
    animation:$params;
}
@mixin keyframes($name) { 
    @-webkit-keyframes $name { @content }
    @-moz-keyframes    $name { @content }
    @-ms-keyframes     $name { @content }
    @keyframes         $name { @content }
}

$spriteWidth:160px;
$spriteHeight:230px;
$explosionWidth: 240px;
$explosionHeight: 320px;

@mixin anim($animName, $steps, $animNbr, $animParams){
    .#{$animName} { 
        @content;
        @include animation($animName steps($steps) $animParams); 
    }
    @include keyframes($animName) {
        from { background-position:0px (-$spriteHeight * ($animNbr - 1)); }
        to { background-position:-($spriteWidth * $steps) (-$spriteHeight * ($animNbr - 1)); }
    }
}
@mixin anim2($animName, $steps, $animNbr, $animParams){
    .#{$animName} { 
        @content;
        @include animation($animName steps($steps) $animParams); 
    }
    @include keyframes($animName) {
        from { background-position:0px (-$explosionHeight * ($animNbr - 1)); }
        to { background-position:-($explosionWidth * $steps) (-$explosionHeight * ($animNbr - 1)); }
    }
}

/* stance */
@include anim($animName:stance, $steps:4, $animNbr:1, $animParams:.48s infinite);
/* perfect */
@include anim($animName:perfect, $steps:3, $animNbr:7, $animParams:.6s);
/* punch */
@include anim($animName:punch, $steps:5, $animNbr:4, $animParams:.9s infinite);
/* kick */
@include anim($animName:kick, $steps:4, $animNbr:3, $animParams:.5s infinite);
/* hadoken */
@include anim($animName:hadoken, $steps:4, $animNbr:2, $animParams:.5s infinite);
// plasma
@include anim($animName:plasma, $steps:4, $animNbr:5, $animParams:.5s infinite);

@include anim($animName:jump, $steps:8, $animNbr:9, $animParams:1.5s infinite);

@include anim($animName:angry, $steps:1, $animNbr:10, $animParams:1.5s infinite);

@include anim($animName:lost, $steps:3, $animNbr:11, $animParams:.6s infinite);


@include anim2($animName:explode, $steps:17, $animNbr:1, $animParams:.8s infinite);

@include anim2($animName:nuke-top, $steps:15, $animNbr:2, $animParams:.8s infinite);

@include anim2($animName:nuke-bottom, $steps:15, $animNbr:3, $animParams:.8s infinite);










body {
	background: $bg-color-1;
	margin:0 auto;
	text-align:center;
	font-family: $font-family;
}


#left {
	width:25%;
	display:inline-block;
	margin-top: 40px;
	margin-left:5%;
	padding:0;
	float:left;
}

#right {
	width:55%;
	display:inline-block;
	margin-right: 15%;
	padding:0;
	float:right;
}

.point {
	margin-left:40px;
}

p {
	color:$font-color-2;
	font-size: 44px;
	padding:0;
	margin:15px;
}

.code-title {
	font-size: 24px;
}



#button-edge {
	margin: 0 auto;
	height: $button-size;
	width:$button-size;
	border-radius:$button-size;
	background: $button-bg-color;
	line-height:$button-size;
	text-align:center;
	border-bottom: solid #FF6400 3px;
	border-top: solid #541F14 2px;
}

.input-window {
	padding-right:0;
	width: 60%;
}
.CodeMirror {
	z-index:1;
	width: 100%;
	height: 400px !important;
}
.CodeMirror-code {
	text-align:left;
}

// textarea {
// 	margin-bottom: 220px;
// 	font-size:16px;
// 	width: 60%;
// 	margin: 0 0 0 40px;
// 	z-index: -1;
// 	// margin-left: 0px;
	
// }

#shadow {
	position:relative;
	background: -webkit-radial-gradient( #ff0000 55%, #640202 58%, #000);
	margin-left:100px * 0.06;
	height:(100px * 0.865);
	width:(100px * 0.865);
	border-radius:100px;
	top:100px * 0.02;
}	

#button {
	position:absolute;
	background: $button-bg-color;
	border-bottom: solid $button-border 4px;
	border-top: solid $button-border 2px;
	margin-top: $button-size * 0.005;
	margin-left: $button-size * 0.04;
	height: $button-size * 0.785;
	width:$button-size * 0.785;
	border-radius:$button-size;
}

#button-top-highlight {
	margin-top: $button-size * 0.02;
	width: $button-size * 0.665;
	height: $button-size * 0.335;
	margin-left: $button-size * 0.055;
	border-top-left-radius: $button-size;
	border-top-right-radius: $button-size;
	background: -webkit-linear-gradient(bottom,rgba(255,255,255,0) 60%,rgba(255,255,255,0.4));
}

#button-bottom-highlight {
	margin-top:$button-size * 0.085;
	width: $button-size * 0.665;
	height: $button-size * 0.335;
	margin-left: $button-size * 0.055;
	border-bottom-left-radius: $button-size;
	border-bottom-right-radius: $button-size;
	background: -webkit-linear-gradient(top,rgba(255,0,0,0) 60%, rgba(100,2,2,0.4));
}
#try-again {
	position: relative;
	margin: 0 auto;
	line-height: 40px;
	height: 40px;
	width: 100px;
	top: -200px;
	display: none;
	z-index: 9;
	background: $bg-color-2;
	color: $font-color-1;
	&:hover {
		cursor:pointer;
		background: darken($bg-color-2, 10%);
	}
}
.ken { 
	position: absolute;
	top: 0px;
	left: -250px;
	width: $spriteWidth; height: $spriteHeight; /* exactly the size of an image in our sprite */
	background-image:url('images/Ken-sprite.png'); 
	background-position: 0px -80px;
	margin:20px auto;
	z-index:9;
	img {
		height:160px;
		width:160px;
		margin: 20px;
	}
}

.base { 
	position: absolute;
	top: 230px;
	left: -250px;
	background: #1A1309;
	height: 150px;
	width: 250px;
	margin:20px auto;
}
.platform { 
	position: absolute;
	border-bottom: 40px solid #704026;
	border-left: 100px solid transparent;
	top: 190px;
	left: -250px;
	height: 0;
	width: 250px;
	margin:20px auto;
}
.explosion { 
	position: absolute;
	top: -220px;
	left: 5px;
	width: $explosionWidth; height: $explosionHeight; /* exactly the size of an image in our sprite */
	background-image:url('images/explosion.png'); 
	// background-position: 0px -80px;
	margin:20px auto;
	z-index:4;
	display:none;
	img {
		height:160px;
		width:120px;
		margin: 20px;
	}
}
.top { 
	position: absolute;
	top: -170px;
	left: 50px;
	width: $explosionWidth; height: $explosionHeight; /* exactly the size of an image in our sprite */
	background-image:url('images/explosion.png'); 
	// background-position: 0px -80px;
	margin:20px auto;
	z-index:4;
	display:none;
	img {
		height:160px;
		width:120px;
		margin: 20px;
	}
}
.bottom { 
	position: absolute;
	top: 60px;
	left: 50px;
	width: $explosionWidth; height: $explosionHeight; /* exactly the size of an image in our sprite */
	background-image:url('public/images/explosion.png'); 
	margin:20px auto;
	z-index:4;
	display:none;
	img {
		height:160px;
		width:120px;
		margin: 20px;
	}
}
#wrapper {
	position:relative;
	display:inline-block;

}

.hadoken-plasma {
	position: absolute;
	top: 13px;
	left: -125px;
	width: $spriteWidth; height: $spriteHeight; /* exactly the size of an image in our sprite */
	background-image:url('public/images/Ken-sprite.png'); 
	background-position: -920px -160px;
	z-index:3;
	img {
		height:160px;
		width:160px;
		margin: 20px;
	}
}



