body {
	background:#0C0F66;
	margin:0 auto;
	text-align:center;

}

p {
	color:yellow;
	font-size: 40px;
	padding:0;
	margin:15px;
}

#button-container {
	position:absolute;
	width:100%;
}

#button-edge {
	margin: 0 auto;
	/*position:absolute;*/

	height: 300px;
	width:300px;
	border-radius:200px;
	background: #CC1E14;
	line-height:300px;
	text-align:center;
	border-bottom: solid #FF6400 3px;
	border-top: solid #541F14 2px;
}

textarea {
	/*margin: 20px;*/
	
}

#highlight {
	background: -webkit-radial-gradient( #ff0000 55%, #640202 68%, #000);
	margin-left:18px;
	/*border: solid #000 2px;*/
	/*border: solid #000 1px;*/
	height:260px;
	width:260px;
	border-radius:200px;
	position:absolute;
	top:6px;
}	

#button {
	background: #CC1E14;
	position:relative;
	border-bottom: solid #ff0000 4px;
	border-top: solid #ff0000 2px;
	margin-top: 1px;
	margin-left:12px;
	height: 235px;
	width:235px;
	border-radius:200px;
}

#button-top-highlight {
	margin-top:6px;
	width: 200px;
	height:100px;
	margin-left: 17px;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	background: -webkit-linear-gradient(bottom,rgba(255,255,255,0) 60%,rgba(255,255,255,0.4));
}

#button-bottom-highlight {
	margin-top:25px;
	width: 200px;
	height:100px;
	margin-left: 17px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	background: -webkit-linear-gradient(top,rgba(255,0,0,0) 60%, rgba(100,2,2,0.4));
}
