<!doctype html>
<html lang="en">
<head>
	<title>Code Checker</title>
	<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

	<link href="stylesheets/codemirror.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="stylesheets/theme/the-matrix.css" media="screen" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
	<script src="javascripts/codemirror.js"></script>
	<script src="mode/javascript/javascript.js"></script>
	<script src="mode/ruby/ruby.js"></script>
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/custom.js"></script>

	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="full-screen-overlay" class="hidden">
	</div>
	<div class="container">

		<div class="game-screen">
			<div id="result-container">
				<img src="images/perfect1.gif" alt="" id="result">
				<div id="response"></div>
			</div>
			<div class="fighter">
				<div class="ken"></div>
				<div class="base"></div>
				<div class="platform"></div>
				<div class="hadoken-plasma"></div>
				<div class="explosion explode"></div>
				<div class="nuclear top "></div>
				<div class="nuclear bottom"></div>
			</div>
			<div class="input-window" id="wrapper">
				<textarea name="code" id="code"></textarea>
			</div>
		</div>

	</div>

		<div class="controls-container">
			<div id="button-container">
				<div id="button-edge">
					<div id="shadow">
						<div id="button">
							<div id="button-top-highlight"></div>
							<div id="button-bottom-highlight"></div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- controls container -->

	<script>

	var $ken;
	var perfectSound = document.createElement('audio');
	var youLoseSound = document.createElement('audio');
	var hurtSound = document.createElement('audio');
	var punchSound = document.createElement('audio');
	var kickSound = document.createElement('audio');
	var hadokenSound = document.createElement('audio');

	var explosionSound = document.createElement('audio');
	var roundSound = document.createElement('audio');
	var oneSound = document.createElement('audio');
	var twoSound = document.createElement('audio');
	var finalSound = document.createElement('audio');
	var laughSound = document.createElement('audio');
	var youWinSound = document.createElement('audio');
	var fightSound = document.createElement('audio');

	var $result;
	var $code;
	var $response;
	var $pointers;
	var $plasma;
	var $bigButton;
	var $explosion;
	var $nuclear;
	var $top;
	var $bottom;
	var kenCurrentPosTop;
	var kenCurrentPosLeft;
	var editor;
	var kenOrigPosLeft;
	var kenOrigPosTop;
	var tally = 0;


	$(document).ready(function() {
		$ken = $('.ken');
		$plasma = $('.hadoken-plasma');
		$result = $('#result');
		$response = $('#response');
		$code = $('#code');
		$tryAgain = $('#try-again');
		$pointers = $('.pointers');
		$explosion = $('.explosion');
		$nuclear = $('.nuclear');
		$top = $('.top');
		$bottom = $('.bottom');
		$('#code').text('\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n');
		editor = CodeMirror.fromTextArea(document.getElementById("code"), {
			lineNumbers: true,
			mode: "javascript",
			theme: "the-matrix",
			autofocus: true
		});
		kenOrigPosLeft = parseInt($ken.css('left'));
		kenOrigPosTop = parseInt($ken.css('top'));
		$bigButton = $('#button');
		$tryAgain.on('click', function() {
			reboot();
		});

		$ken.addClass('stance');
		perfectSound.setAttribute('src', 'assets/perfect.mp3');
		hadokenSound.setAttribute('src', 'assets/hadouken.mp3');
		kickSound.setAttribute('src', 'assets/ryuken-kick.mp3');
		punchSound.setAttribute('src', 'assets/ryuken-shoryuken.mp3');
		hurtSound.setAttribute('src', 'assets/ryuken-uggh.mp3');
		youLoseSound.setAttribute('src', 'assets/you-lose.mp3');

		explosionSound.setAttribute('src', 'assets/depth-charge.mp3')
		roundSound.setAttribute('src', 'assets/round.mp3')
		oneSound.setAttribute('src', 'assets/1.mp3')
		twoSound.setAttribute('src', 'assets/2.mp3')
		finalSound.setAttribute('src', 'assets/final.mp3')
		laughSound.setAttribute('src', 'assets/chun-li-laugh.mp3')
		youWinSound.setAttribute('src', 'assets/you-win.mp3')
		fightSound.setAttribute('src', 'assets/fight.mp3')


		buttonOn();
	});
	</script>
</body>
</html>
