/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* stance */
.stance {
  -webkit-animation: stance steps(4) 0.48s infinite;
  -moz-animation: stance steps(4) 0.48s infinite;
  -ms-animation: stance steps(4) 0.48s infinite;
  animation: stance steps(4) 0.48s infinite;
}

@-webkit-keyframes stance {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -640px 0px;
  }
}
@-moz-keyframes stance {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -640px 0px;
  }
}
@-ms-keyframes stance {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -640px 0px;
  }
}
@keyframes stance {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -640px 0px;
  }
}
/* perfect */
.perfect {
  -webkit-animation: perfect steps(3) 0.6s;
  -moz-animation: perfect steps(3) 0.6s;
  -ms-animation: perfect steps(3) 0.6s;
  animation: perfect steps(3) 0.6s;
}

@-webkit-keyframes perfect {
  from {
    background-position: 0px -1380px;
  }
  to {
    background-position: -480px -1380px;
  }
}
@-moz-keyframes perfect {
  from {
    background-position: 0px -1380px;
  }
  to {
    background-position: -480px -1380px;
  }
}
@-ms-keyframes perfect {
  from {
    background-position: 0px -1380px;
  }
  to {
    background-position: -480px -1380px;
  }
}
@keyframes perfect {
  from {
    background-position: 0px -1380px;
  }
  to {
    background-position: -480px -1380px;
  }
}
/* punch */
.punch {
  -webkit-animation: punch steps(5) 0.9s infinite;
  -moz-animation: punch steps(5) 0.9s infinite;
  -ms-animation: punch steps(5) 0.9s infinite;
  animation: punch steps(5) 0.9s infinite;
}

@-webkit-keyframes punch {
  from {
    background-position: 0px -690px;
  }
  to {
    background-position: -800px -690px;
  }
}
@-moz-keyframes punch {
  from {
    background-position: 0px -690px;
  }
  to {
    background-position: -800px -690px;
  }
}
@-ms-keyframes punch {
  from {
    background-position: 0px -690px;
  }
  to {
    background-position: -800px -690px;
  }
}
@keyframes punch {
  from {
    background-position: 0px -690px;
  }
  to {
    background-position: -800px -690px;
  }
}
/* kick */
.kick {
  -webkit-animation: kick steps(4) 0.5s infinite;
  -moz-animation: kick steps(4) 0.5s infinite;
  -ms-animation: kick steps(4) 0.5s infinite;
  animation: kick steps(4) 0.5s infinite;
}

@-webkit-keyframes kick {
  from {
    background-position: 0px -460px;
  }
  to {
    background-position: -640px -460px;
  }
}
@-moz-keyframes kick {
  from {
    background-position: 0px -460px;
  }
  to {
    background-position: -640px -460px;
  }
}
@-ms-keyframes kick {
  from {
    background-position: 0px -460px;
  }
  to {
    background-position: -640px -460px;
  }
}
@keyframes kick {
  from {
    background-position: 0px -460px;
  }
  to {
    background-position: -640px -460px;
  }
}
/* hadoken */
.hadoken {
  -webkit-animation: hadoken steps(4) 0.5s infinite;
  -moz-animation: hadoken steps(4) 0.5s infinite;
  -ms-animation: hadoken steps(4) 0.5s infinite;
  animation: hadoken steps(4) 0.5s infinite;
}

@-webkit-keyframes hadoken {
  from {
    background-position: 0px -230px;
  }
  to {
    background-position: -640px -230px;
  }
}
@-moz-keyframes hadoken {
  from {
    background-position: 0px -230px;
  }
  to {
    background-position: -640px -230px;
  }
}
@-ms-keyframes hadoken {
  from {
    background-position: 0px -230px;
  }
  to {
    background-position: -640px -230px;
  }
}
@keyframes hadoken {
  from {
    background-position: 0px -230px;
  }
  to {
    background-position: -640px -230px;
  }
}
.plasma {
  -webkit-animation: plasma steps(4) 0.5s infinite;
  -moz-animation: plasma steps(4) 0.5s infinite;
  -ms-animation: plasma steps(4) 0.5s infinite;
  animation: plasma steps(4) 0.5s infinite;
}

@-webkit-keyframes plasma {
  from {
    background-position: 0px -920px;
  }
  to {
    background-position: -640px -920px;
  }
}
@-moz-keyframes plasma {
  from {
    background-position: 0px -920px;
  }
  to {
    background-position: -640px -920px;
  }
}
@-ms-keyframes plasma {
  from {
    background-position: 0px -920px;
  }
  to {
    background-position: -640px -920px;
  }
}
@keyframes plasma {
  from {
    background-position: 0px -920px;
  }
  to {
    background-position: -640px -920px;
  }
}
.jump {
  -webkit-animation: jump steps(8) 1.5s infinite;
  -moz-animation: jump steps(8) 1.5s infinite;
  -ms-animation: jump steps(8) 1.5s infinite;
  animation: jump steps(8) 1.5s infinite;
}

@-webkit-keyframes jump {
  from {
    background-position: 0px -1840px;
  }
  to {
    background-position: -1280px -1840px;
  }
}
@-moz-keyframes jump {
  from {
    background-position: 0px -1840px;
  }
  to {
    background-position: -1280px -1840px;
  }
}
@-ms-keyframes jump {
  from {
    background-position: 0px -1840px;
  }
  to {
    background-position: -1280px -1840px;
  }
}
@keyframes jump {
  from {
    background-position: 0px -1840px;
  }
  to {
    background-position: -1280px -1840px;
  }
}
.angry {
  -webkit-animation: angry steps(1) 1.5s infinite;
  -moz-animation: angry steps(1) 1.5s infinite;
  -ms-animation: angry steps(1) 1.5s infinite;
  animation: angry steps(1) 1.5s infinite;
}

@-webkit-keyframes angry {
  from {
    background-position: 0px -2070px;
  }
  to {
    background-position: -160px -2070px;
  }
}
@-moz-keyframes angry {
  from {
    background-position: 0px -2070px;
  }
  to {
    background-position: -160px -2070px;
  }
}
@-ms-keyframes angry {
  from {
    background-position: 0px -2070px;
  }
  to {
    background-position: -160px -2070px;
  }
}
@keyframes angry {
  from {
    background-position: 0px -2070px;
  }
  to {
    background-position: -160px -2070px;
  }
}
.lost {
  -webkit-animation: lost steps(3) 0.6s infinite;
  -moz-animation: lost steps(3) 0.6s infinite;
  -ms-animation: lost steps(3) 0.6s infinite;
  animation: lost steps(3) 0.6s infinite;
}

@-webkit-keyframes lost {
  from {
    background-position: 0px -2300px;
  }
  to {
    background-position: -480px -2300px;
  }
}
@-moz-keyframes lost {
  from {
    background-position: 0px -2300px;
  }
  to {
    background-position: -480px -2300px;
  }
}
@-ms-keyframes lost {
  from {
    background-position: 0px -2300px;
  }
  to {
    background-position: -480px -2300px;
  }
}
@keyframes lost {
  from {
    background-position: 0px -2300px;
  }
  to {
    background-position: -480px -2300px;
  }
}
.explode {
  -webkit-animation: explode steps(17) 0.8s infinite;
  -moz-animation: explode steps(17) 0.8s infinite;
  -ms-animation: explode steps(17) 0.8s infinite;
  animation: explode steps(17) 0.8s infinite;
}

@-webkit-keyframes explode {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -4080px 0px;
  }
}
@-moz-keyframes explode {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -4080px 0px;
  }
}
@-ms-keyframes explode {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -4080px 0px;
  }
}
@keyframes explode {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -4080px 0px;
  }
}
.nuke-top {
  -webkit-animation: nuke-top steps(15) 0.8s infinite;
  -moz-animation: nuke-top steps(15) 0.8s infinite;
  -ms-animation: nuke-top steps(15) 0.8s infinite;
  animation: nuke-top steps(15) 0.8s infinite;
}

@-webkit-keyframes nuke-top {
  from {
    background-position: 0px -320px;
  }
  to {
    background-position: -3600px -320px;
  }
}
@-moz-keyframes nuke-top {
  from {
    background-position: 0px -320px;
  }
  to {
    background-position: -3600px -320px;
  }
}
@-ms-keyframes nuke-top {
  from {
    background-position: 0px -320px;
  }
  to {
    background-position: -3600px -320px;
  }
}
@keyframes nuke-top {
  from {
    background-position: 0px -320px;
  }
  to {
    background-position: -3600px -320px;
  }
}
.nuke-bottom {
  -webkit-animation: nuke-bottom steps(15) 0.8s infinite;
  -moz-animation: nuke-bottom steps(15) 0.8s infinite;
  -ms-animation: nuke-bottom steps(15) 0.8s infinite;
  animation: nuke-bottom steps(15) 0.8s infinite;
}

@-webkit-keyframes nuke-bottom {
  from {
    background-position: 0px -640px;
  }
  to {
    background-position: -3600px -640px;
  }
}
@-moz-keyframes nuke-bottom {
  from {
    background-position: 0px -640px;
  }
  to {
    background-position: -3600px -640px;
  }
}
@-ms-keyframes nuke-bottom {
  from {
    background-position: 0px -640px;
  }
  to {
    background-position: -3600px -640px;
  }
}
@keyframes nuke-bottom {
  from {
    background-position: 0px -640px;
  }
  to {
    background-position: -3600px -640px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #020228;
  font-size: 18px;
  position: relative;
  text-align: center;
}

#start-screen-overlay {
  text-transform: uppercase;
  font-family: "Press Start 2P", monospace;
  font-size: 2rem;
  cursor: pointer;
}

#start-screen-overlay:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: repeating-linear-gradient(#0D122B, #0D122B 2px, #565B73 2px, #565B73 4px);
  opacity: 0.2;
  z-index: 100;
  content: "";
  pointer-events: none;
}

#start-screen-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 200;
  background: black;
}

#end-screen-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 200;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.game-screen {
  height: 400px;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: -10px;
  background: gray;
}

.fighter {
  width: 250px;
  position: relative;
}

.controls-container {
  padding: 60px;
  grid-row-start: 3;
  background: #0460fc;
  background: linear-gradient(0deg, #020228 0%, #0c0979 72%, #010130 100%);
  border-bottom: solid 1px #01011c;
}

#result-container {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 200;
}
#result-container #result {
  margin: 0 auto;
  display: none;
}
#result-container #try-again {
  display: none;
  color: yellow;
  right: 48%;
}

#response {
  font-size: 64px;
  color: yellow;
}

#header {
  background: #fff;
  margin: 0;
  padding: 0;
}

#try-again {
  height: 40px;
  position: absolute;
}

#left {
  width: 25%;
  margin-top: 40px;
  margin-left: 5%;
  padding: 0;
  float: left;
}

#right {
  width: 55%;
  margin-right: 15%;
  padding: 0;
  float: right;
}

.point {
  margin-left: 40px;
}

p {
  color: yellow;
  font-size: 44px;
  padding: 0;
  margin: 15px;
}

.code-title {
  font-size: 24px;
}

#button-edge {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: #CC1E14;
  line-height: 100px;
  text-align: center;
  border-bottom: solid #FF6400 3px;
  border-top: solid #541F14 2px;
}

.input-window {
  padding-right: 0;
  flex-grow: 1;
}

.CodeMirror {
  width: 100%;
  height: 400px !important;
}

.CodeMirror-code {
  text-align: left;
}

#shadow {
  position: relative;
  background: -webkit-radial-gradient(#ff0000 55%, #640202 58%, #000);
  margin-left: 6px;
  height: 86.5px;
  width: 86.5px;
  border-radius: 100px;
  top: 2px;
}

#button {
  position: absolute;
  background: #CC1E14;
  border-bottom: solid #ff0000 4px;
  border-top: solid #ff0000 2px;
  margin-top: 0.5px;
  margin-left: 4px;
  height: 78.5px;
  width: 78.5px;
  border-radius: 100px;
}

#button-top-highlight {
  margin-top: 2px;
  width: 66.5px;
  height: 33.5px;
  margin-left: 5.5px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.4));
}

#button-bottom-highlight {
  margin-top: 8.5px;
  width: 66.5px;
  height: 33.5px;
  margin-left: 5.5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 60%, rgba(100, 2, 2, 0.4));
}

#try-again {
  position: relative;
  margin: 0 auto;
  line-height: 40px;
  height: 40px;
  width: 100px;
  top: -200px;
  display: none;
  background: #79CC31;
  color: #fff;
}
#try-again:hover {
  cursor: pointer;
  background: #61a327;
}

.ken {
  position: absolute;
  top: 0px;
  width: 160px;
  height: 230px;
  /* exactly the size of an image in our sprite */
  background-image: url("/images/Ken-sprite.png");
  background-position: 0px -80px;
  margin: 20px auto;
  z-index: 100;
}
.ken img {
  height: 160px;
  width: 160px;
  margin: 20px;
}

.base {
  position: absolute;
  top: 230px;
  background: #1A1309;
  height: 150px;
  width: 250px;
  margin: 20px auto;
}

.platform {
  position: absolute;
  border-bottom: 40px solid #704026;
  border-left: 100px solid transparent;
  top: 190px;
  height: 0;
  width: 350px;
  margin: 20px auto;
}

.vs {
  position: absolute;
}

.explosion {
  position: absolute;
  top: -220px;
  left: 255px;
  width: 240px;
  height: 320px;
  /* exactly the size of an image in our sprite */
  background-image: url("/images/explosion.png");
  margin: 20px auto;
  display: none;
  z-index: 99;
}
.explosion img {
  height: 160px;
  width: 120px;
  margin: 20px;
}

.top {
  position: absolute;
  top: -170px;
  left: 300px;
  width: 240px;
  height: 320px;
  /* exactly the size of an image in our sprite */
  background-image: url("/images/explosion.png");
  margin: 20px auto;
  display: none;
  z-index: 99;
}
.top img {
  height: 160px;
  width: 120px;
  margin: 20px;
}

.bottom {
  position: absolute;
  top: 60px;
  left: 300px;
  width: 240px;
  height: 320px;
  /* exactly the size of an image in our sprite */
  background-image: url("/images/explosion.png");
  margin: 20px auto;
  display: none;
  z-index: 99;
}
.bottom img {
  height: 160px;
  width: 120px;
  margin: 20px;
}

#wrapper {
  position: relative;
  display: inline-block;
}

.hadoken-plasma {
  position: absolute;
  top: 13px;
  left: 125px;
  width: 160px;
  height: 230px;
  /* exactly the size of an image in our sprite */
  background-image: url("/images/Ken-sprite.png");
  background-position: -920px -160px;
  z-index: 99;
}
.hadoken-plasma img {
  height: 160px;
  width: 160px;
  margin: 20px;
}

h1 {
  margin: 0;
}

.splash-screen {
  width: 100vw;
  height: 100vh;
}

.title {
  margin: auto;
  font-family: "Permanent Marker", monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 40vh;
  font-size: 6rem;
  line-height: 0.75;
  word-break: break-word;
  max-width: 500px;
  padding-bottom: 10vh;
}

.title h1 {
  background: -webkit-linear-gradient(#ff1212 30%, #ffd726);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-top {
  transform: skew(-10deg) rotate(-10deg) translateX(-2rem);
}

.title-bottom {
  transform: skew(-10deg) rotate(-10deg) translateX(1rem);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  margin: auto;
  padding-bottom: 3vh;
}

.start-screen-bottom {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.credit {
  margin-top: 10px;
  pointer-events: none;
}

.grey-with-red {
  color: silver;
  text-shadow: 2px 2px 0 #c00b0b;
}

.purple-with-blue {
  color: #939aff;
  text-shadow: 2px 2px 0 #2f3dff;
}

.yellow-with-darkyellow {
  color: #e2b318;
  text-shadow: 0 2px 0 #6b4d0b, 2px 0 0 #976d13, 2px 2px 0 #976d13;
}

.yellow {
  color: #e2b318;
}

.big {
  font-size: 6rem;
}

@media (min-width: 400px) {
  body {
    font-size: 1.2rem;
  }

  .big {
    font-size: 7rem;
  }
}
@media (min-width: 600px) {
  .big {
    font-size: 9rem;
  }

  .title {
    font-size: 6rem;
    height: 50vh;
  }

  .title-top {
    transform: skew(-10deg) rotate(-10deg) translateX(-2rem);
  }

  .title-bottom {
    transform: skew(-10deg) rotate(-10deg) translateX(3rem);
  }
}
@media (min-width: 800px) {
  .credit {
    position: absolute;
    right: 50px;
    margin-top: 0;
  }
}
/* Stole this idea from twilioquest, it's freaking sick. */
.load {
  animation: load 800ms 500ms backwards;
}

@keyframes load {
  0% {
    filter: blur(2px) hue-rotate(-150deg);
  }
}
::selection {
  background: #b4fdff;
}

::-moz-selection {
  background: #b4fdff;
}
