/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 24, ../sass/screen.scss */
#header {
  background: #fff;
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/screen.scss */
#result-container {
  padding: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 60px;
}
/* line 35, ../sass/screen.scss */
#result-container #result {
  margin: 0 auto;
  display: none;
}
/* line 39, ../sass/screen.scss */
#result-container #try-again {
  display: none;
  color: yellow;
}

/* line 44, ../sass/screen.scss */
.controls {
  height: 400px;
  margin-top: 50px;
}

/* line 53, ../sass/screen.scss */
#ken-container {
  margin: 20px 0;
  margin-left: 60%;
}

/* line 59, ../sass/screen.scss */
#reboot {
  float: left;
  margin: 0 auto;
  line-height: 40px;
  height: 40px;
  width: 100px;
  background: #79cc31;
  color: white;
}
/* line 67, ../sass/screen.scss */
#reboot:hover {
  cursor: pointer;
  background: #61a327;
}

/* stance */
/* line 91, ../sass/screen.scss */
.stance {
  -webkit-animation: stance steps(4) 0.48s infinite;
  -moz-animation: stance steps(4) 0.48s infinite;
  -ms-animation: stance steps(4) 0.48s infinite;
  animation: stance steps(4) 0.48s infinite;
}

@-webkit-keyframes stance {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px 0px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px 0px;
  }
}

@-moz-keyframes stance {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px 0px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px 0px;
  }
}

@-ms-keyframes stance {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px 0px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px 0px;
  }
}

@keyframes stance {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px 0px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px 0px;
  }
}

/* perfect */
/* line 91, ../sass/screen.scss */
.perfect {
  -webkit-animation: perfect steps(3) 0.6s;
  -moz-animation: perfect steps(3) 0.6s;
  -ms-animation: perfect steps(3) 0.6s;
  animation: perfect steps(3) 0.6s;
}

@-webkit-keyframes perfect {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -690px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -240px -690px;
  }
}

@-moz-keyframes perfect {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -690px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -240px -690px;
  }
}

@-ms-keyframes perfect {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -690px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -240px -690px;
  }
}

@keyframes perfect {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -690px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -240px -690px;
  }
}

/* punch */
/* line 91, ../sass/screen.scss */
.punch {
  -webkit-animation: punch steps(5) 0.9s infinite;
  -moz-animation: punch steps(5) 0.9s infinite;
  -ms-animation: punch steps(5) 0.9s infinite;
  animation: punch steps(5) 0.9s infinite;
}

@-webkit-keyframes punch {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -345px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -400px -345px;
  }
}

@-moz-keyframes punch {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -345px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -400px -345px;
  }
}

@-ms-keyframes punch {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -345px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -400px -345px;
  }
}

@keyframes punch {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -345px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -400px -345px;
  }
}

/* kick */
/* line 91, ../sass/screen.scss */
.kick {
  -webkit-animation: kick steps(4) 0.5s infinite;
  -moz-animation: kick steps(4) 0.5s infinite;
  -ms-animation: kick steps(4) 0.5s infinite;
  animation: kick steps(4) 0.5s infinite;
}

@-webkit-keyframes kick {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -230px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -230px;
  }
}

@-moz-keyframes kick {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -230px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -230px;
  }
}

@-ms-keyframes kick {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -230px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -230px;
  }
}

@keyframes kick {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -230px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -230px;
  }
}

/* hadoken */
/* line 91, ../sass/screen.scss */
.hadoken {
  -webkit-animation: hadoken steps(4) 0.5s infinite;
  -moz-animation: hadoken steps(4) 0.5s infinite;
  -ms-animation: hadoken steps(4) 0.5s infinite;
  animation: hadoken steps(4) 0.5s infinite;
}

@-webkit-keyframes hadoken {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -115px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -115px;
  }
}

@-moz-keyframes hadoken {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -115px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -115px;
  }
}

@-ms-keyframes hadoken {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -115px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -115px;
  }
}

@keyframes hadoken {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -115px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -115px;
  }
}

/* line 91, ../sass/screen.scss */
.plasma {
  -webkit-animation: plasma steps(4) 0.5s infinite;
  -moz-animation: plasma steps(4) 0.5s infinite;
  -ms-animation: plasma steps(4) 0.5s infinite;
  animation: plasma steps(4) 0.5s infinite;
}

@-webkit-keyframes plasma {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -460px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -460px;
  }
}

@-moz-keyframes plasma {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -460px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -460px;
  }
}

@-ms-keyframes plasma {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -460px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -460px;
  }
}

@keyframes plasma {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -460px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -320px -460px;
  }
}

/* line 91, ../sass/screen.scss */
.jump {
  -webkit-animation: jump steps(8) 1.5s infinite;
  -moz-animation: jump steps(8) 1.5s infinite;
  -ms-animation: jump steps(8) 1.5s infinite;
  animation: jump steps(8) 1.5s infinite;
}

@-webkit-keyframes jump {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -920px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -640px -920px;
  }
}

@-moz-keyframes jump {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -920px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -640px -920px;
  }
}

@-ms-keyframes jump {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -920px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -640px -920px;
  }
}

@keyframes jump {
  /* line 96, ../sass/screen.scss */
  from {
    background-position: 0px -920px;
  }

  /* line 97, ../sass/screen.scss */
  to {
    background-position: -640px -920px;
  }
}

/* line 121, ../sass/screen.scss */
body {
  background: #0c0f66;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/* line 129, ../sass/screen.scss */
#left {
  width: 25%;
  display: inline-block;
  margin-top: 40px;
  margin-left: 5%;
  padding: 0;
  float: left;
}

/* line 138, ../sass/screen.scss */
#right {
  width: 55%;
  display: inline-block;
  margin-right: 15%;
  padding: 0;
  float: right;
}

/* line 146, ../sass/screen.scss */
.point {
  margin-left: 40px;
}

/* line 150, ../sass/screen.scss */
p {
  color: yellow;
  font-size: 44px;
  padding: 0;
  margin: 15px;
}

/* line 157, ../sass/screen.scss */
.code-title {
  font-size: 24px;
}

/* line 161, ../sass/screen.scss */
#button-container {
  width: 100%;
  margin-top: 120px;
  margin-left: 30%;
}

/* line 167, ../sass/screen.scss */
#button-edge {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: #cc1e14;
  line-height: 100px;
  text-align: center;
  border-bottom: solid #FF6400 3px;
  border-top: solid #541F14 2px;
}

/* line 179, ../sass/screen.scss */
.input-window {
  padding-right: 0;
}

/* line 182, ../sass/screen.scss */
.CodeMirror {
  z-index: -3;
}

/* line 185, ../sass/screen.scss */
.CodeMirror-code {
  text-align: left;
}

/* line 189, ../sass/screen.scss */
textarea {
  margin-bottom: 220px;
  font-size: 16px;
  width: 90%;
  margin: 0 0 0 40px;
  z-index: -1;
}

/* line 199, ../sass/screen.scss */
#highlight {
  background: -webkit-radial-gradient(red 55%, #640202 68%, black);
  margin-left: 6px;
  height: 86.5px;
  width: 86.5px;
  border-radius: 100px;
  top: 2px;
}

/* line 208, ../sass/screen.scss */
#button {
  background: #cc1e14;
  border-bottom: solid red 4px;
  border-top: solid red 2px;
  margin-top: 0.5px;
  margin-left: 4px;
  height: 78.5px;
  width: 78.5px;
  border-radius: 100px;
}

/* line 219, ../sass/screen.scss */
#button-top-highlight {
  margin-top: 2px;
  width: 66.5px;
  height: 33.5px;
  margin-left: 5.5px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.4));
}

/* line 229, ../sass/screen.scss */
#button-bottom-highlight {
  margin-top: 8.5px;
  width: 66.5px;
  height: 33.5px;
  margin-left: 5.5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0) 60%, rgba(100, 2, 2, 0.4));
}

/* line 238, ../sass/screen.scss */
.ken {
  position: absolute;
  top: 0;
  left: -105px;
  width: 80px;
  height: 115px;
  /* exactly the size of an image in our sprite */
  background-image: url("images/Ken-sprite.png");
  background-position: 0px -80px;
  margin: 20px auto;
}
/* line 246, ../sass/screen.scss */
.ken img {
  height: 160px;
  width: 160px;
  margin: 20px;
  z-index: 3;
}

/* line 254, ../sass/screen.scss */
#wrapper {
  position: relative;
  display: inline-block;
}

/* line 260, ../sass/screen.scss */
.hadoken-plasma {
  position: absolute;
  top: 18px;
  left: -40px;
  width: 80px;
  height: 115px;
  /* exactly the size of an image in our sprite */
  background-image: url("images/Ken-sprite.png");
  background-position: -460px -80px;
  z-index: 3;
}
/* line 269, ../sass/screen.scss */
.hadoken-plasma img {
  height: 160px;
  width: 160px;
  margin: 20px;
}

/* line 275, ../sass/screen.scss */
.explosion {
  position: absolute;
  top: -120px;
  left: -80px;
  display: none;
}
